PyYAML==6.0.1
python-dotenv==1.0.1
requests==2.32.3
stem==1.8.2
beautifulsoup4==4.12.3
aiohttp==3.10.5
aiohttp-socks==0.8.4
pytest==8.3.3
pytest-asyncio==0.21.0
click==8.1.7
shodan==1.31.0
tenacity==9.0.0
loguru==0.7.2
